[2013-10-08 06:40] yegor256 opened #1 "cobertura doesn't work with ajc"
Trying to run `mvn clean site -Psite` I'm getting:

[code]

[2013-10-08 07:44] #1 closed, assigned to nobody

[2013-10-13 14:45] yegor256 opened #2 "REMPL profile"
Let's add `rempl` profile

[2013-10-24 05:36] yegor256 opened #3 "github profile for site deployment"
let's add a new profile for site deployment to github

[2013-10-28 05:30] yegor256 opened #4 "parallel execution of surefire tests"
Let's add such configuration to `pom.xml`

[2013-10-28 06:02] #4 closed, assigned to nobody

[2013-10-28 06:11] #3 closed, assigned to nobody

[2013-10-28 06:11] #2 closed, assigned to nobody

[2013-12-07 18:19] yegor256 opened #5 "Findbugs into qulice profile"
Lets add it into qulice profile, and remove from qulice itself

[2014-03-02 13:17] #5 closed, assigned to nobody

[2014-03-18 00:15] carlosmiranda opened #6 "Let's add javax.el:javax.el-api dependency"
I encountered an issue when trying to migrate from `parent` version `0.13.1` to `0.18.1` in yegor256/s3auth#123. The `hibernate-validator` version in `parent 0.13.1` is `5.1.0.Alpha1` while the one in the latest parent is `5.1.0.Final`. When I tried to migrate to `parent 0.18.1`, the validations stopped working:

[code]

I looked at [hibernate-validator's repo](https://github.com/hibernate/hiberna

[2014-06-24 11:22] hildo opened #7 "Update surefire plugin to support cobertura"
Issue 144 in jcabi-github wants to use cobertura.  But it looks like the surefire plugin configured in this parent pom is preventing this.  The configuration should be updated to allow cobertura to run.

[2014-06-24 22:04] #7 closed, assigned to nobody

[2014-07-09 11:35] krzyk opened #9 "maven invoker should merge user settings"
Merging user settings fixes cases when user has a proxy or mirror defined and IT tests try to download artifacts (which fails if user is behind a proxy).

adding

[code]

to maven-invoker-plugin will fix the problem.

[2014-07-14 12:59] #9 closed, assigned to nobody

[2014-07-23 07:59] carlosmiranda opened #10 "Let's upgrade maven-invoker-plugin to version 1.9"
`maven-invoker-plugin` version 1.8 has a bug that causes an error when `mergeUserSettings` is set to `true` and it's run with Maven 3.2.2. See http://jira.codehaus.org/browse/MINVOKER-166.

Version 1.9 fixes this bug. Let's upgrade to that.

[2014-08-13 19:28] yegor256 opened #11 "remove rempl profile"
Let's remove it

[2014-08-13 20:08] #11 closed, assigned to nobody

[2014-08-13 23:47] #10 closed, assigned to nobody

[2014-08-13 23:48] #6 closed, assigned to nobody

[2014-08-28 06:42] yegor256 opened #12 "latest version of qulice"
let's upgrade it

[2014-08-28 08:13] #12 closed, assigned to nobody

[2014-09-22 05:36] yegor256 opened #13 "github site plugin 0.10"
Let's use the latest version of Github site plugin

[2014-09-22 05:54] #13 closed, assigned to nobody

[2014-10-22 20:22] longtimeago opened #14 "Upgrade jcabi-log to 0.15.1"
We need to upgrade jcabi-log to 0.15.1 to resolve the issue https://github.com/jcabi/jcabi-mysql-maven-plugin/issues/30

[2014-10-24 18:19] #14 closed, assigned to nobody

[2014-11-21 09:33] yegor256 opened #15 "fresh versions"

[2014-11-21 10:12] #15 closed, assigned to nobody

[2015-01-07 19:15] alevohin opened #16 "Upgrade qulice-maven-plugin to 0.12"
We need to upgrade qulice-maven-plugin to 0.12 to resolve the issue https://github.com/teamed/qulice/issues/366.

[2015-01-08 11:22] dmarkov commented on #16
we'll find someone to do this task, soon

[2015-01-08 11:24] dmarkov commented on #16
@maurezen it's your task, go ahead

[2015-01-08 11:25] dmarkov commented on #16
@alevohin thank you for the ticket reported, I topped your account for 15 mins, transaction `49978505`

[2015-01-08 16:29] maurezen opened #17 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-08 16:49] maurezen commented on #16
Created a pull request here #18

[2015-01-10 11:42] maurezen commented on #16
@dmarkov could you please find someone to review the pull request #18 ? It's been almost 48h since I created it.

[2015-01-11 21:46] maurezen commented on #16
@alevohin pull request #18 merged, please close the issue.

[2015-01-12 07:32] alevohin commented on #16
@maurezen could you make release/deploy?

[2015-01-12 08:05] maurezen commented on #16
@alevohin I believe that's something for @yegor256 to do.

[2015-01-12 08:19] yegor256 commented on #16
@rultor release, tag is `0.32`

[2015-01-12 08:20] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1544-69539311)

[2015-01-12 08:31] rultor commented on #16
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1544-69539311) (took me 11min)

[2015-01-12 08:32] yegor256 commented on #16
@alevohin version 0.32 is in Maven Central

[2015-01-12 09:59] dmarkov commented on #17
this task will get someone's attention soon

[2015-01-12 10:48] dmarkov commented on #17
@romankisilenko it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-01-12 10:49] dmarkov commented on #17
@maurezen many thanks for the bug report, I added 15 mins to your acc, transaction `50043131`

[2015-01-12 18:50] alevohin commented on #16
@maurezen @yegor256 thanks!

[2015-01-12 18:50] #16 closed

[2015-01-14 11:21] dmarkov commented on #16
@maurezen thanks, I just added **30 mins** to your account, payment `50257021`... +30 added to your rating, current score is: [+390](http://www.netbout.com/b/35102?open=rating)

[2015-01-14 22:38] maurezen opened #19 "Qulice configuration is ignored in children"
In children projects parent's qulice configuration is ignored. This leads to the bugs like jcabi/jcabi-email#11 and jcabi/jcabi-manifests#16.

mvn help:effective-pom does list qulice configuration present.
mvn help:active-profiles does list qulice profile present.

mvn -X qulice:check -Pqulice lists the following:

[DEBUG] Style:         Regular
[DEBUG] Configuration: <?xml version="1.0" encoding=

[2015-01-14 22:42] yegor256 commented on #19
@maurezen that's true, we should move [these three lines](https://github.com/jcabi/jcabi-parent/blob/master/pom.xml#L236-L238) to the `<plugin>` section, thanks for reporting

[2015-01-15 11:46] dmarkov commented on #19
we'll find someone to do this task, soon

[2015-01-16 12:52] dmarkov commented on #19
@marczeeee can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-01-16 12:53] dmarkov commented on #19
@maurezen thank you for the ticket reported, I topped your account for 15 mins, transaction `50302740`

[2015-01-17 22:37] palyuga opened #22 "Migrate to maven-surefire-plugin 2.18.x"
This version of the plugin contains a fix of bug which causes unit tests hanging (https://github.com/teamed/qulice/issues/303)
The current used version is 2.17

[2015-01-19 09:34] dmarkov commented on #22
we'll find someone to do this task, soon

[2015-01-19 09:37] dmarkov commented on #22
@jenya please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-19 09:38] dmarkov commented on #22
@palyuga many thanks for the bug report, I added 15 mins to your acc, transaction `50344750`

[2015-01-19 17:50] ggajos opened #23 "Could not transfer artifact com.jcabi:parent:xml:site_en:0.31"
We're encountering error "Could not transfer artifact com.jcabi:parent:xml:site_en:0.31 from/to repo.xockets.teamed.io" while running mvn clean site -Psite.

It looks like the only workaround for this is to add an empty (or one line) site_en.xml file in this project.

[code]

[2015-01-20 10:25] dmarkov commented on #23
I'm aware of the task, give me some time to find a developer...

[2015-01-20 10:28] dmarkov commented on #23
@oruam85 it's your task, go ahead

[2015-01-20 10:29] dmarkov commented on #23
@ggajos many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-3XU839749S0360412`

[2015-01-20 21:46] Marczeeee commented on #19
@maurezen Pull request #20 was merged. Please close this issue.

[2015-01-20 22:34] #19 closed

[2015-01-21 13:10] RomanKisilenko commented on #17
@maurezen PR was reviewed and closed, please close this issue.

[2015-01-21 14:16] #17 closed

[2015-01-21 20:39] oruam85 commented on #23
@ggajos  i can not reproduce this bug.

[code]

[2015-01-21 20:58] oruam85 commented on #23
@ggajos  please update you fork and try again

[2015-01-22 07:41] dmarkov commented on #19
@marczeeee I added **30 mins** to your account, many thanks for working with the project!; added +30 to your rating, now it is equal to +90

[2015-01-22 08:01] ggajos commented on #23
@oruam85 what project you're trying to build?

[2015-01-22 12:28] oruam85 commented on #23
@ggajos jcabi-parent.

[2015-01-22 15:23] ggajos commented on #23
@oruam85 sorry, I forget to mention that we're encountering this in child project (jcabi-parent is actually a parent of project that we're building)

[2015-01-22 18:36] oruam85 commented on #23
@ggajos ok, let me check in someone child project.

[2015-01-22 21:53] oruam85 commented on #23
@ggajos with my child project works fine. can you post the content of site_en.xml file?

[2015-01-23 07:55] ggajos commented on #23
@oruam85 we don't have site_en.xml in child project but when we do workaround, build is passing
Create `parent-0.31-site_en.xml` file in `.m2\repository\com\jcabi\parent\0.31\`
Paste this into `parent-0.31-site_en.xml`:
[code]

[2015-01-23 09:54] dmarkov commented on #17
@romankisilenko Much obliged! I've added **30 mins** to your account in payment "50616180"... +30 added to your rating, current score is: +270

[2015-01-24 22:51] oruam85 commented on #23
@ggajos Why do you need this xml in `.m2\repository\com\jcabi\parent\0.31\`? Please explain me from the begin.

[2015-01-26 07:21] ggajos commented on #23
@oruam85 We're encountering error "Could not transfer artifact com.jcabi:parent:xml:site_en:0.31 from/to repo.xockets.teamed.io" while running `mvn clean site -Psite`.

Create `parent-0.31-site_en.xml` file in `.m2\repository\com\jcabi\parent\0.31\` is resolving this issue.

[2015-01-26 15:53] oruam85 commented on #23
@ggajos my child project (rultor) works fine with parent 0.31
[code]

But you get a connection refused with your repo
`[WARNING] s3://repo.xockets.teamed.io/snapshot - Connection refused`

Can you check again in your project?

[2015-01-26 16:32] ggajos commented on #23
thanks, I found that issue is with repositories tag:
[code]
if I remove this from child pom everything is working again, do you know maybe why is this related?

[2015-01-26 21:54] oruam85 commented on #23
@ggajos may be this repo requires authentication. Check http://maven.apache.org/guides/introduction/introduction-to-repositories.html

[2015-01-27 07:45] ggajos commented on #23
@oruam85 it does but why jcabi-parent is using in that case xockets repo instead of repo.maven.apache.org? Is there a way to have this repo definition in child project and not break jcabi-parent build?

[2015-01-27 07:46] ggajos commented on #23
or is it fair enough to impl. workaround mentioned at the beginning of this ticket?

[2015-01-27 11:17] dmarkov commented on #22
@apocarteres it's yours, please go ahead

[2015-01-27 18:06] oruam85 commented on #23
@ggajos why do you needs configure this repo in your project? Why Snapshot? See this http://www.sonatype.com/people/2009/02/why-putting-repositories-in-your-poms-is-a-bad-idea

[2015-01-27 21:00] ggajos commented on #23
@oruam85 Those are the coordinates of the repo where we keep our private artifacts.

[2015-01-28 14:09] oruam85 commented on #23
@ggajos ok, may be you needs configure a mirror in your settings for the (jcabi-parent repo). See http://maven.apache.org/guides/mini/guide-mirror-settings.html

Implement it is not a bug in jcabi-parent. If you don't have any more question please close this bug.

[2015-01-28 15:55] ggajos commented on #23
@oruam85 I believe it's issue with maven site plugin https://jira.codehaus.org/browse/MSITE-639 . We can solve this using mentioned workaround, custom config in local m2 dir is just another workaround, even more complex.

@yegor256 Do you have maybe idea how we can effectively approach this issue? or is it just won't fix?

[2015-01-28 17:24] yegor256 commented on #23
@ggajos maybe we can add this `parent-0.31-site_en.xml` file to the project and that's it?

[2015-01-28 21:06] ggajos commented on #23
@yegor256 make sense for me, tried to force that idea but lack me authority here I believe :)

[2015-01-28 21:27] yegor256 commented on #23
@ggajos it's your ticket, until you're happy with a solution it won't be closed. you have full authority here :)

[2015-01-28 22:17] oruam85 commented on #23
@ggajos @yegor256 Then the workarround here is add the `parent-0.31-site_en.xml` file to the jcabi-parent project?

[2015-01-29 00:17] oruam85 commented on #23
@dmarkov please find someone else for this bug. i don't have the big picture of this project yet.

[2015-01-29 07:56] ggajos commented on #23
One remark
Please try to add this to child project pom.xml:
[code]
It should start failing as it's described on top of conversation. Then `parent-0.31-site_en.xml` workaround should fix it.

[2015-01-29 19:25] oruam85 commented on #23
@ggajos i do this test:
add a repository to the child project but to the central
[code]
And run the command `mvn clean site -Psite`
[code]

i think that to add de site_en.xml file to the project does not resolves the problem.
Can you resolves the connection refuse problem with your repo?

[2015-01-30 07:34] ggajos commented on #23
@oruam85 but that is the whole point here, we have to include `<url>s3://repo.xockets.teamed.io/snapshot</url>`
jcabi-parent should not fail due to this config
It's private repo and credentials or connection with that repo must not be mandatory to build the child project.
Did you try to add `<url>s3://repo.xockets.teamed.io/snapshot</url>` and check if error is similar?

[2015-01-30 14:21] oruam85 commented on #23
@ggajos yes, i try to add `<url>s3://repo.xockets.teamed.io/snapshot</url>` and get the same error.

[2015-01-30 15:09] oruam85 commented on #23
@ggajos can you try in your browser this URL http://repo.xockets.teamed.io/snapshot?

In my computer this URL request me authentication.

[2015-01-30 15:56] ggajos commented on #23
@oruam85 yes and it should, it's protected repo. Can you please try to add site_en.xml and check if build also fails? Thanks

[2015-01-30 18:41] apocarteres commented on #22
@dmarkov please find someone to review PR https://github.com/jcabi/jcabi-parent/pull/24

[2015-01-31 14:12] oruam85 commented on #23
@dmarkov we needs more time here.

[2015-01-31 19:04] oruam85 commented on #23
@ggajos i try to add the site_en.xml file to the parent project and the build also fails. Can you resolve the connection refused of your repository? In my opinion, no point having a repository to which I can not connect.

In my tests, with public repositories the build works.

[2015-02-02 09:32] dmarkov commented on #23
@oruam85 of course, thanks for letting me know, take your time

[2015-02-02 15:55] ggajos commented on #23
@oruam85 I'm out of ideas here.

[2015-02-02 15:55] #23 closed

[2015-02-02 17:04] apocarteres commented on #22
@paluga done. pls confirm

[2015-02-03 09:46] palyuga commented on #22
@apocarteres thanks!

[2015-02-03 09:46] #22 closed

[2015-02-06 07:26] dmarkov commented on #22
@apocarteres **30 mins** was added to your account, many thanks for your contribution!. +30 added to your rating, at the moment it is: [+165](http://www.netbout.com/b/35111?open=rating)

[2015-02-06 07:26] dmarkov commented on #23
@oruam85 I added **30 mins** to your account, many thanks for working with the project!

+30 added to your rating, at the moment it is: +240

[2015-03-13 00:45] alxn commented on #4
@yegor256 what's the best way to disable parallel running, probably in the pom that is including the jcabi parent? At a class level with a Junit annotation would also be interesting.

[2015-03-13 01:16] yegor256 commented on #4
@alxn like this:

[code]

[2015-03-13 03:16] alxn commented on #4
Ah thanks, I'd finally come up with:

[code]

 - after playing with `mvn help:effective-pom`

I first went to their doc, and they said:

No hint of "none" !! :frowning:

[2015-03-13 04:31] yegor256 commented on #4
@alxn yeah, sorry about that :)

[2015-03-15 07:07] carlosmiranda opened #25 "Update jcabi-github version"
Currently, we are specifying `jcabi-github` version `0.17` in `pom.xml`. This version of `jcabi-github` has a bug that prevents one of the mock classes, `MkStorage.Infile` from being instantiated, due to mutability issues (see https://github.com/jcabi/jcabi-github/issues/934). This effectively prevents the usage of the entire mock unit testing framework provided by `jcabi-github`.

Let's update th

[2015-03-16 07:33] dmarkov commented on #25
I will ask someone to take care of this task soon

[2015-03-16 07:35] dmarkov commented on #25
@carlosmiranda thanks for reporting! I topped your account for 15 mins, transaction 53408400

[2015-04-07 07:02] dmarkov opened #26 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 08:58] dmarkov opened #27 "0.33"
Please, publish a new release **0.33** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 11:56] dmarkov opened #28 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-18 18:26] wholegroup opened #29 "gmaven-plugin has been discontinued"
gmaven-plugin has been discontinued and there is a dependency incompatibility between groovy-all 2.3.3 and gmaven-plugin that uses groovy 2.0 (see providerSelection = 2.0).
It leads to errors with Spock Framework.
gmaven-plugin should be replaced by gmavenplus-plugin.

[code]

[2015-04-19 06:45] wholegroup commented on #29
@yegor256 please confirm

[2015-04-20 06:48] yegor256 commented on #29
@wholegroup definitely a bug, thanks for reporting

[2015-04-21 08:24] dmarkov commented on #29
@wholegroup we will find someone to do this task, soon

[2015-04-21 08:27] dmarkov commented on #29
@wholegroup thanks a lot for reporting, **15 mins** added to your acc, pmt ID `55852767`

[2015-05-12 07:12] dmarkov commented on #27
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 07:16] dmarkov commented on #27
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-20 07:17] dmarkov commented on #25
@super132 the task is yours

[2015-05-20 07:17] dmarkov commented on #29
@yamstranger please go ahead with this task, it's yours

[2015-05-22 00:15] super132 commented on #25
@carlosmiranda, PR #30 fixed this issue. Would you please close this ticket? Thanks.

[2015-05-22 06:05] carlosmiranda commented on #25
@super132 Thank you very much!

[2015-05-22 06:05] #25 closed

[2015-05-25 03:35] super132 commented on #25
@dmarkov could you please share the payment details? Thanks.

[2015-05-25 07:19] dmarkov commented on #25
@super132 **38 mins** was added to your account, many thanks for your contribution! The task took AP-3M553007YY389061X.... the bonus for fast delivery (m=2903)... added +38 to your rating, now it is equal to [+181](http://www.netbout.com/b/35282?open=rating)

[2015-05-28 05:52] YamStranger commented on #29
@dmarkov assign to someone else. Sorry.  It seems I was in @away mode when this task was assigned. @yegor256 can you check it please? Thanks.

[2015-05-28 07:10] dmarkov commented on #29
@yamstranger I deducted 30 points from your rating

[2015-05-28 07:10] dmarkov commented on #29
@yamstranger all right, we'll find someone else for this task

[2015-06-01 07:32] dmarkov commented on #28
@yegor256 Done, the task is closed

[2015-06-01 07:32] #28 closed

[2015-06-04 08:40] dmarkov commented on #26
@yegor256 Done, the task is closed

[2015-06-04 08:40] #26 closed

[2015-06-04 08:40] dmarkov commented on #27
@yegor256 Done, the task is closed

[2015-06-04 08:40] #27 closed

[2015-06-10 10:48] YamStranger opened #31 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-15 08:49] dmarkov commented on #29
@suseika please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-15 08:49] dmarkov commented on #31
@yegor256 please dispatch this issue

[2015-06-16 22:27] YamStranger commented on #31
@yegor256. It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some examples of same problem at different repositories:
This is issue s

[2015-06-17 07:15] dmarkov commented on #29
@rultor @wholegroup please take a look, rultor closed it automatically

[2015-06-17 07:25] wholegroup commented on #29
@Suseika Thanks!

[2015-06-17 07:25] #29 closed

[2015-06-18 09:30] dmarkov commented on #29
@suseika I haven't seen any msgs from you, won't pay (correct me if I'm wrong)

[2015-06-18 09:38] Suseika commented on #29
@dmarkov What messages are you talking about?

[2015-06-18 14:43] yegor256 commented on #29
@dmarkov please add extra 30 mins to @Suseika

[2015-06-18 15:54] Suseika commented on #29
@dmarkov Yegor explained what was my fault, sorry, won't happen again.

This was closed by #32

[2015-06-19 07:13] dmarkov commented on #29
@yegor256 I've paid 30 mins to @suseika in transaction `AP-0XK26774DK778222J`

[2015-06-22 22:54] yegor256 commented on #31
@YamStranger fixed in https://github.com/jcabi/jcabi-parent/commit/0e3be9f8f8605e4d4c3664a1b13923089a8c2772

[2015-06-22 22:54] #31 closed

[2015-07-19 18:23] Suseika opened #37 "buildnumber-maven-plugin should run before at process-resources phase"
There is at least one instance when we need the build number during the source-processing phase: in jcabi-aspects we process sources in order to insert project version and build number right into sources.

I think that `buildnumber-maven-plugin`'s phase should be changed from `process-resources` to `process-sources` or even to `initialize`, because `process-resources` happens later in the default

[2015-07-23 08:18] dmarkov commented on #37
@yegor256 please dispatch this issue

[2015-07-23 18:08] yegor256 commented on #37
@Suseika fixed in 57506cd thanks

[2015-07-23 18:08] #37 closed

[2015-08-16 20:27] Suseika opened #38 "Can we remove the dependency on antlr-annotations?"
It is not used anymore by antlr4: the last `antlr-runtime` version 4.5 removed it:

https://github.com/antlr/antlr4/releases/tag/4.5

Other reasons to remove it:

- antlr4-annotations doesn't support JDK>1.6.
- If antlr-annotations is present in the parent pom of a project that uses antlr4-runtime>4.3, then qulice will fail the build due to duplicated classes.

It would also be nice to increase th

[2015-08-16 20:38] Suseika commented on #38
Here is the part of log where qulice finds duplicate classes if I use newer `antlr4-runtime`:
[code]

[2015-08-20 07:08] dmarkov commented on #38
@yegor256 please pay attention to this issue

[2015-08-20 07:37] yegor256 commented on #38
@rultor release, tag is `0.35`

[2015-08-20 07:38] rultor commented on #38
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4898-132920193)

[2015-08-20 07:44] rultor commented on #38
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4898-132920193) (took me 6min)

[2015-08-20 09:49] Suseika commented on #38
@yegor256 Thanks!

[2015-08-20 09:49] #38 closed

[2015-08-30 11:09] longtimeago opened #39 "Exclude hamcrest-core from mockito-core dependency"
Currently, we have a dependency on the mockito-core:1.9.5 which depends on hamcrest-core:1.1
Under certain circumstances this might cause dependency collisions
(https://tedvinke.wordpress.com/2013/12/17/mixing-junit-hamcrest-and-mockito-explaining-nosuchmethoderror/)
We should exclude hamcrest-core from mockito-core.

[2015-09-02 13:56] dmarkov commented on #39
@yegor256 dispatch this issue please

[2015-09-03 04:49] oruam85 commented on #39
@yegor256 @dmarkov i can take this task. Let me know your answer

[2015-09-03 05:00] yegor256 commented on #39
@longtimeago we do exclude mockito-core already: https://github.com/jcabi/jcabi-parent/blob/0.35/pom.xml#L1352-L1367 Or I missed something?

[2015-09-03 05:57] longtimeago commented on #39
@yegor256 what about jcabi-junit profile?

[2015-09-03 07:57] yegor256 commented on #39
@longtimeago the "exclusion" works in/for all profiles

[2015-09-03 08:05] longtimeago commented on #39
@yegor256 than the issue is invalid. Thanks!

[2015-09-03 08:05] #39 closed

[2015-09-11 09:03] Rotwang opened #40 "Don't use repositories element in the pom."
Hi,

parent pom contains a repositories element which forces maven to look for artifacts in an external repository:

[code]

There are workarounds for this issue, however it would be better if the repository resolution stuff was left over for the settings.xml to handle.

[2015-09-14 10:05] dmarkov commented on #40
@yegor256 please do something about this issue

[2015-09-14 10:50] yegor256 commented on #40
@Rotwang make sense, thanks for reporting

[2015-09-14 10:53] yegor256 commented on #40
@Rotwang fixed in 0e25cca

[2015-09-14 10:53] yegor256 commented on #40
@rultor release, tag is `0.36`

[2015-09-14 10:54] rultor commented on #40
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5128-140037427)

[2015-09-14 10:59] rultor commented on #40
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5128-140037427) (took me 5min)

[2015-09-14 11:18] yegor256 commented on #40
@Rotwang new version 0.36 is in Maven Central. please close the ticket if you're happy :)

[2015-09-16 12:28] Rotwang commented on #40
Thank you!

[2015-09-16 12:28] #40 closed

[2015-09-27 00:53] yegor256 opened #41 "updated site-maven-plugin to 0.12"

[2015-09-27 00:59] yegor256 commented on #41
@rultor release, tag is `0.37`

[2015-09-27 00:59] rultor commented on #41
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5266-143507708)

[2015-09-27 01:04] rultor commented on #41
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5266-143507708) (spent 5min)

[code]

[2015-09-27 01:10] yegor256 commented on #41
@rultor release, tag is `0.37`

[2015-09-27 01:10] rultor commented on #41
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5266-143510194)

[2015-09-27 01:20] rultor commented on #41
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5266-143510194) (took me 10min)

[2015-09-27 01:20] #41 closed

[2015-10-05 05:13] yegor256 opened #42 "NPE in versions-maven-plugin"
See http://stackoverflow.com/questions/29995139/maven-versions-maven-plugin-versions-plugin-2-2

Let's downgrade it to 2.1

[2015-10-05 05:15] yegor256 commented on #42
@rultor release, tag is `0.37.1`

[2015-10-05 05:15] rultor commented on #42
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5339-145432448)

[2015-10-05 05:25] rultor commented on #42
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5339-145432448) (took me 10min)

[2015-10-05 05:32] #42 closed

[2015-11-05 21:34] longtimeago opened #43 "Downgrade cobertura-maven-plugin to 2.6"
During the work on https://github.com/teamed/xockets-hadoop-transport/issues/1086
We've faced with a bug cobertura/cobertura#230
It prevents "site" profile (defined in a parent pom) to work properly.
[code]
I propose to downgrade cobertura-maven-plugin to 2.6 in a parent pom

[2015-11-08 09:35] longtimeago commented on #43
@yegor256 can we do this downgrade?

[2015-11-11 02:41] yegor256 commented on #43
@longtimeago check  2ed44fa. correct?

[2015-11-11 08:15] longtimeago commented on #43
@yegor256 perfect, thanks!

[2015-11-11 08:15] #43 closed

[2015-11-11 08:18] longtimeago commented on #43
@yegor256 please, release a new version of parent pom

[2015-11-12 04:21] yegor256 commented on #43
@rultor release, tag is `0.38`

[2015-11-12 04:21] rultor commented on #43
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5701-155993923)

[2015-11-12 04:28] rultor commented on #43
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5701-155993923) (took me 7min)

[2015-11-12 07:45] longtimeago commented on #43
@yegor256 thank you!

[2015-12-09 15:59] yegor256 opened #44 "dependencies are out of date"
Let's upgrade them

[2015-12-09 15:59] #44 closed

[2015-12-09 16:32] yegor256 commented on #44
@rultor release, tag is `0.39`

[2015-12-09 16:33] rultor commented on #44
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5894-163316218)

[2015-12-09 16:41] rultor commented on #44
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5894-163316218) (took me 8min)

[2015-12-13 14:04] krzyk opened #45 "Upgrade to new hamcrest"
There is new version of hamcrest library available:

[code]

Notice, that they changed the artifactId.
Please upgrade parent to the above new hamcrest version.

[2015-12-13 14:16] krzyk opened #46 "Upgrade to qulice 0.14"
New version (`0.14`) of qulice has been released with few bug fixes, please upgrade parent pom to this new version.

[2015-12-17 07:39] dmarkov commented on #45
@yegor256 please do something about this issue

[2015-12-17 07:39] dmarkov commented on #46
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2015-12-17 21:03] yegor256 commented on #45
@krzyk we have two deps now:

[code]

We should replace them both with this new one?

[2015-12-17 21:08] yegor256 commented on #46
@rultor release, tag is `0.40`

[2015-12-17 21:09] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5986-165582615)

[2015-12-17 21:16] rultor commented on #46
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5986-165582615) (took me 7min)

[2015-12-17 21:17] yegor256 commented on #46
@krzyk done, see 0.40

[2015-12-17 21:17] #46 closed

[2015-12-17 23:00] krzyk commented on #45
@yegor256 looks like the new hamcrest has only two java related projects: java-hamcrest and junit-hamcrest (this one we don't use, it was already in 1.x versions). From the packages it looks like it is equivalent of hamcrest-all from 1.3. So we would need just the java-hamcrest instead of hamcrest-core and hamcrest-library.

[2015-12-31 13:08] mkordas commented on #45
@yegor256 can we dispatch this issue? I would be interested in taking it.

[2016-01-04 02:55] carlosmiranda opened #47 "Wrong artifact: javax.servlet:servlet-api 3.0.1"
In our current pom we have the following artifact defined:

[code]

This does not exist. The `servlet-api` artifact was renamed to `javax.servlet-api` for version 3.0.1 and above. It should be:

[code]

See http://mvnrepository.com/artifact/javax.servlet/javax.servlet-api/3.0.1

[2016-01-05 04:57] carlosmiranda commented on #47
@yegor256 can you take a look at this; the bug breaks any project that tries to use version `0.40` without overriding this dependency.

[2016-01-05 14:33] yegor256 commented on #47
@carlosmiranda fixed, thanks

[2016-01-05 14:33] #47 closed

[2016-01-05 14:33] yegor256 commented on #47
@rultor release, tag is `0.40.1`

[2016-01-05 14:34] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6179-169017464)

[2016-01-05 14:42] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6179-169017464) (took me 8min)

[2016-01-12 05:05] oruam85 opened #48 "Update the Copyright year"
In the license.txt file the Copyright year should be 2016

[2016-01-18 07:35] dmarkov commented on #48
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-01-22 10:45] exper0 opened #49 "Update qulice"
jcabi-parent uses qulice version 0.14 but the latest version is 0.15.2. Let's update it

[2016-01-22 23:38] mkordas opened #50 "Remove XML exclude from Qulice"
All XML files are excluded by default from Qulice check: https://github.com/jcabi/jcabi-parent/blob/0.40.1/pom.xml#L234

Majority of problems with Qulice's XML validation was solved recently and moreover in case of any problems XML check could be skipped for each project separately.

Let's remove that suppression.

[2016-01-25 11:56] dmarkov commented on #49
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-01-26 04:18] yegor256 commented on #49
@rultor release, tag is `0.41`

[2016-01-26 04:19] rultor commented on #49
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6589-174812031)

[2016-01-26 04:28] rultor commented on #49
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6589-174812031) (took me 9min)

[2016-01-26 04:47] yegor256 commented on #49
@exper0 fixed, use 0.41

[2016-01-26 04:47] #49 closed

[2016-01-26 09:53] dmarkov commented on #50
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-28 17:10] mkordas opened #51 "Enforce at least Maven 3.1.0 for all child projects"
Due to bug in Maven, `qulice-maven-plugin` with Maven < `3.1.0` fails with NPE:
[code]
Maven `3.0.4` still remains default version for majority of Linux installations and is bundled with IntelliJ.

Let's add requirement to parent, that minimal Maven version to use is `3.1.0`.

Detailed stacktrace:
[code]

[2016-02-01 07:19] dmarkov commented on #51
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-03 21:59] yegor256 opened #52 "qulice 0.16"

[2016-02-03 21:59] #52 closed

[2016-02-03 22:01] yegor256 commented on #52
@rultor release, tag is `0.42`

[2016-02-03 22:02] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6756-179493139)

[2016-02-03 22:14] rultor commented on #52
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6756-179493139) (took me 11min)

[2016-02-03 23:30] yegor256 commented on #50
@mkordas fixed in 8273b7c thanks!

[2016-02-03 23:30] #50 closed

[2016-02-04 07:12] dmarkov commented on #51
@mkordas thanks a lot for reporting, **15 mins** added to your acc, pmt ID `56b2f9e0422cc6543a000035`

[2016-02-08 08:23] dmarkov commented on #51
@amihaiemil could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-09 22:02] amihaiemil commented on #51
@dmarkov I created PR with id  #53 for this issue.

[2016-02-11 08:32] dmarkov commented on #51
@amihaiemil OK

[2016-02-13 11:54] amihaiemil commented on #51
@dmarkov The PR for this has been merged and closed successfully.

[2016-02-15 08:40] mkordas commented on #51
@amihaiemil you should have asked me to close the issue

[2016-02-15 08:40] #51 closed

[2016-02-15 09:53] amihaiemil commented on #51
@mkordas I thought I should wait for the PR to be deployed. My apologies, will do in the future.

[2016-02-15 11:07] amihaiemil commented on #51
@dmarkov This issue was closed.

[2016-02-16 10:21] dmarkov commented on #51
@amihaiemil OK

[2016-02-17 13:20] amihaiemil commented on #51
@dmarkov I haven't received payment for this yet. Is there something else I should do?

[2016-02-19 06:44] amihaiemil commented on #51
@dmarkov ping

[2016-02-22 07:36] amihaiemil commented on #51
@dmarkov Can you give feedback here? Thanks.

[2016-02-22 12:08] dmarkov commented on #51
@amihaiemil thanks

[2016-02-22 12:09] dmarkov commented on #51
@amihaiemil **30 mins** added to your account (payment number `AP-7EF141025M467294T`), many thanks for your contribution! 170 hours and 18 mins spent here.... +30 added to your rating, current score is: [+60](http://www.netbout.com/b/36402?open=rating)

[2016-02-23 12:56] dmarkov commented on #51
@amihaiemil paid already

[2016-02-23 12:56] dmarkov commented on #51
@amihaiemil yes, I'm here. just be patient, we don't pay immediately (2-3 days are needed)

[2016-02-23 12:56] dmarkov commented on #51
@amihaiemil you don't need to ask me multiple times, it doesn't make things faster. just one question is enough, I will answer it sooner or later. thanks

[2016-02-23 12:58] amihaiemil commented on #51
@dmarkov Thanks for the info, I will know in the future.

[2016-02-29 07:35] dmarkov commented on #51
@amihaiemil OK

[2016-03-09 06:42] longtimeago opened #54 "Consider upgrade to Upgrade Apache Commons Collections to v3.2.2"
Version 3.2.1 has a CVSS 10.0 vulnerability. That is the worst kind of
vulnerability that exists. By merely existing on the classpath, this
library causes the Java serialization parser for the entire JVM process
to go from being a state machine to a turing machine. A turing machine
with an exec() function!

https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2015-8103
https://commons.apache.org/p

[2016-03-14 08:12] dmarkov commented on #54
@yegor256 please do something about this issue

[2016-03-15 01:43] yegor256 commented on #54
@rultor release, tag is `0.43`

[2016-03-15 01:44] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7693-196601901)

[2016-03-15 01:54] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7693-196601901) (took me 10min)

[2016-03-15 04:14] yegor256 commented on #54
@longtimeago thanks!

[2016-03-15 04:14] #54 closed

[2016-05-13 18:45] essobedo opened #55 "JSR-303 validator failed to initialize"
While trying to figure out why I get in my project error of types:

- `JSR-303 validator failed to initialize: Unable to instantiate Configuration`
- `JSR-303 validator failed to initialize: HV000183: Unable to load 'javax.el.ExpressionFactory'. Check that you have the EL dependencies on the classpath, or use ParameterMessageInterpolator instead`

I realized that If I add the following dependency

[2016-05-16 19:10] essobedo commented on #55
@yegor256 this is needed for xockets-xjm, thx in advance

[2016-05-17 15:11] pinaf commented on #55
@yegor256 what do you think of this one?

[2016-05-18 20:56] essobedo opened #56 "Consider upgrading the third party libraries"
Even with the latest version of the parent pom which is `0.43` while I'm creating this ticket, there are many third party libraries that could be upgraded.

Indeed if I launch the command `mvn versions:display-dependency-updates` I get the next output:

[code]

[2016-05-23 08:19] dmarkov commented on #56
@yegor256 please dispatch this issue

[2016-05-23 08:19] dmarkov commented on #55
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-23 16:37] essobedo commented on #56
@yegor256 we need you here please

[2016-05-29 00:52] essobedo commented on #56
@yegor256 ping

[2016-06-01 12:49] essobedo commented on #56
@yegor256 please dispatch this issue, I need it for a ticket of xockets-hadoop-transport

[2016-06-05 11:18] essobedo commented on #56
@dmarkov @yegor256 we need to do something with it, either accept it or reject it but please let's do something

[2016-06-06 07:42] krzyk opened #57 "Switch from cobertura to jacoco"
Cobertura is very error-prone and slower than jacoco (cobertura needs to execute tests again, jacoco uses agent to listen to the tests being executed), so upgrading should give us more reliability and speed up builds of the projects.

[2016-06-09 08:19] dmarkov commented on #57
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-10 08:24] essobedo commented on #56
@yegor256 ping

[2016-06-11 10:25] essobedo commented on #56
@yegor256 ping

[2016-06-13 08:55] essobedo commented on #56
@yegor256 ping

[2016-06-14 10:32] essobedo commented on #56
@yegor256 ping

[2016-06-15 09:49] essobedo commented on #56
@yegor256 ping

[2016-06-16 03:15] yegor256 commented on #56
@essobedo I upgraded versions in 8d44818 thanks!

[2016-06-16 03:15] #56 closed

[2016-06-16 03:47] yegor256 commented on #55
@essobedo the right way would be to fix `jcabi-maven-plugin`, since the bug is there. If someone will use that plugin somewhere else, outside of jcabi-parent, the bug will still show up. Can you please re-submit it to jcabi-maven-plugin repo?

[2016-06-16 03:47] #55 closed

[2016-06-16 06:24] essobedo commented on #56
@yegor256 many thx, any idea when we can have a release with this fix?

[2016-06-16 06:28] essobedo commented on #55
@yegor256 ok I will

[2016-06-16 10:48] essobedo commented on #55
@yegor256 done here https://github.com/jcabi/jcabi-maven-plugin/issues/53

[2016-06-17 07:35] essobedo commented on #56
@yegor256 this fix is not really helping without a release, so could you please release jcabi-parent?

[2016-06-18 07:51] essobedo commented on #56
@yegor256 ping

[2016-06-20 09:01] essobedo commented on #56
@yegor256 ping

[2016-06-21 08:18] essobedo commented on #56
@yegor256 please I need a tag with this fix

[2016-06-22 09:10] essobedo commented on #56
@yegor256 I'm stuck because of this ticket for more than a month, please create a tag it should not be too long with rultor

[2016-06-22 18:28] longtimeago commented on #57
@yegor256 ping :)

[2016-06-22 22:01] yegor256 commented on #56
@rultor release, tag is `0.44`

[2016-06-22 22:01] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8897-227890426)

[2016-06-22 22:12] rultor commented on #56
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8897-227890426) (took me 10min)

[2016-06-22 22:16] yegor256 commented on #55
@essobedo thanks

[2016-06-22 22:32] yegor256 commented on #57
@dmarkov assign @longtimeago to this pls

[2016-06-23 06:27] essobedo commented on #56
@yegor256 thank you

[2016-06-23 08:59] dmarkov commented on #57
@yegor256 yep, done. @longtimeago it is your task now

[2016-06-23 09:01] dmarkov commented on #57
@krzyk many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `90842279`

[2016-06-23 19:03] longtimeago commented on #57
@dmarkov @yegor256 here is the PR https://github.com/jcabi/jcabi-parent/pull/58

[2016-06-23 22:19] pinaf commented on #55
@yegor256 could we also update jcabi-parent's `pom.xml` to use the new version of `jcabi-maven-plugin`?

[2016-06-24 08:41] dmarkov commented on #57
@longtimeago thank you, I will check it

[2016-06-24 16:16] longtimeago commented on #57
@dmarkov assign someone else, I'm on vacation from today, can't finish the issue in time :(

[2016-06-27 09:14] dmarkov commented on #57
@longtimeago -30 points to your rating :(

[2016-06-27 09:14] dmarkov commented on #57
@longtimeago got it, someone else will be assigned soon

[2016-06-27 23:00] yegor256 commented on #55
@rultor release, tag is `0.45`

[2016-06-27 23:01] rultor commented on #55
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8937-228901392)

[2016-06-27 23:09] rultor commented on #55
@essobedo @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/8937-228901392) (spent 8min)

[code]

[2016-06-28 00:18] pinaf commented on #55
@yegor256 release failed :(

[2016-06-28 01:47] yegor256 commented on #55
@rultor release, tag is `0.45`

[2016-06-28 01:47] rultor commented on #55
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8937-228926401)

[2016-06-28 01:52] rultor commented on #55
@essobedo @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/8937-228926401) (spent 5min)

[code]

[2016-06-28 02:06] pinaf commented on #55
@yegor256 failed again :(

Caused by: java.lang.ClassNotFoundException: org.apache.maven.doxia.sink.impl.XhtmlBaseSink

[2016-06-28 02:12] yegor256 commented on #55
@pinaf hm... looks like this problem is related to this recent change I've made: 	5fa3faf

[2016-06-28 02:12] yegor256 commented on #55
@pinaf any thoughts?

[2016-06-28 17:32] pinaf commented on #55
@yegor256 this seems to be the issue https://lists.apache.org/thread.html/%3CCAJmbs8hXju+9roV5VyEHte5vRWSeD8-t_HUyWmQM6JoK=hhhdA@mail.gmail.com%3E

[2016-06-29 03:47] yegor256 commented on #55
@rultor release, tag is `0.45`

[2016-06-29 03:48] rultor commented on #55
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8937-229249352)

[2016-06-29 03:57] rultor commented on #55
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8937-229249352) (took me 9min)

[2016-06-29 19:12] yegor256 commented on #55
@pinaf version 0.45 is in Maven Central

[2016-06-30 13:46] pinaf commented on #55
@yegor256 thanks!

[2016-07-18 07:14] dmarkov commented on #57
@prondzyn this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-07-21 04:16] prondzyn commented on #57
@dmarkov PR #59 is ready.

[2016-07-21 08:24] dmarkov commented on #57
@prondzyn thanks

[2016-07-27 03:27] prondzyn commented on #57
@dmarkov please give me more time. PR is almost done. Waiting on merge.

[2016-07-29 03:16] prondzyn commented on #57
@krzyk please close the task. PR is merged.

[2016-07-29 05:24] krzyk commented on #57
@prondzyn you didn't add pluginManagement section for jacoco

[2016-07-29 06:45] prondzyn commented on #57
@dmarkov I prepared PR #60 for missing jacoco in pluginManagement section as @krzyk mentioned.

[2016-07-29 10:13] dmarkov commented on #57
@prondzyn yes, take your time, thanks for letting me know

[2016-08-03 03:26] prondzyn commented on #57
@krzyk please close the task now - I added missing section.

[2016-08-03 05:12] krzyk commented on #57
@prondzyn thanks

[2016-08-03 05:12] #57 closed

[2016-08-04 09:32] dmarkov commented on #57
@prondzyn I just added **30 mins** to your account, many thanks for your contribution (AP-79H96535HM877332K).. 385 hours and 19 mins spent here... +30 to your rating, your total score is [+60](http://www.netbout.com/b/35715?open=rating)

[2016-08-27 14:18] original-brownbear commented on #57
@yegor256 can we get a release including this one ? :)

[2016-09-06 14:58] original-brownbear opened #61 "Release 0.46"
@yegor256 releasing the current state would save me some time in one of our projects.
The release pipeline is broken, due to the Jacoco issues now apparently resolved here.
So a quick release saves me 15 min for a rollback and meddling with Rultor etc :)
Thanks

[2016-09-06 19:50] mkordas commented on #61
@yegor256 please help us here

[2016-09-06 22:56] codejanovic opened #62 "coveralls report failing due to invalid timestamp format"
coveralls maven plugin will fail to build when using jcabi parent, as it is not able to parse the defined `maven.build.timestamp.format` from jcabis `pom.xml`.

to fix this issue, you need to provide a custom datefomat in coveralls plugin-configuration (as already mentioned in https://github.com/jcabi/jcabi-jdbc/pull/53)

[code]

Because so many people out there are using coveralls service I think

[2016-09-07 19:42] mkordas commented on #61
@yegor256 please just invoke `@rultor release, tag is 0.46`

[2016-09-07 23:27] yegor256 commented on #61
@rultor release, tag is `0.46`

[2016-09-07 23:27] rultor commented on #61
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9552-245450319)

[2016-09-07 23:28] original-brownbear commented on #61
@yegor256 thanks :)

[2016-09-07 23:28] yegor256 commented on #61
@original-brownbear please forgive the delay!

[2016-09-07 23:29] original-brownbear commented on #61
@yegor256 np :)

[2016-09-07 23:36] rultor commented on #61
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9552-245450319) (took me 8min)

[2016-09-08 20:47] mkordas commented on #61
@yegor256 thanks!
@original-brownbear let's close this issue then :)

[2016-09-08 20:47] original-brownbear commented on #61
@mkordas right :)

[2016-09-08 20:47] #61 closed

[2016-09-12 09:07] dmarkov commented on #62
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-18 18:49] yegor256 opened #63 "default Maven repos have to be in pom.xml"
Because of this: http://stackoverflow.com/questions/40682932/maven-certificate-broken-for-ubuntu-16-04

[2016-11-18 18:49] #63 closed

[2016-11-18 18:50] yegor256 commented on #63
@rultor release, tag is `0.47`

[2016-11-18 18:52] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10008-261610436)

[2016-11-18 18:54] rultor commented on #63
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10008-261610436) (spent 3min)

[code]

[2016-11-18 19:10] yegor256 commented on #63
@rultor release, tag is `0.47`

[2016-11-18 19:11] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10008-261615332)

[2016-11-18 19:14] rultor commented on #63
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10008-261615332) (spent 3min)

[code]

[2016-11-19 07:38] yegor256 opened #64 "versions up"
let's upgrade

[2016-11-19 07:39] #64 closed

[2016-11-19 07:39] yegor256 commented on #64
@rultor release, tag is `0.47`

[2016-11-19 07:40] rultor commented on #64
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10016-261699393)

[2016-11-19 07:49] rultor commented on #64
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10016-261699393) (took me 8min)

[2016-11-21 20:16] yegor256 commented on #62
@codejanovic hope this helps: 8a712fe

[2016-11-21 20:21] yegor256 commented on #62
@rultor release, tag is `0.48`

[2016-11-21 20:21] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10064-262055460)

[2016-11-21 20:32] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10064-262055460) (took me 11min)

[2016-11-21 20:37] yegor256 commented on #62
@codejanovic should be fine now? If so, please close the ticket

[2016-11-23 12:26] codejanovic commented on #62
@yegor256 yep, that should solve it. thanks!

[2016-11-23 12:26] #62 closed

[2016-12-01 20:32] original-brownbear opened #65 "Maven Release Plugin Version Used is not Stable"
We're using a very strange version of the Maven Release plugin here:

we got:

[code]

which is not a stable version and as of now also not available on Sonatype or Maven Central according to:
https://mvnrepository.com/artifact/org.apache.maven.plugins/maven-release-plugin/3.0-r1585899

I think the version needs to be adjusted to `2.5.3`, this is currently breaking builds in our projects by

[code

[2016-12-05 08:12] dmarkov commented on #65
@yegor256 please dispatch this issue

[2016-12-15 12:19] yegor256 commented on #65
@rultor release, tag is `0.48.1`

[2016-12-15 12:19] rultor commented on #65
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10265-267314707)

[2016-12-15 12:20] rultor commented on #65
@original-brownbear @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10265-267314707) (spent 11s)

[code]

[2016-12-15 12:21] yegor256 commented on #65
@rultor release, tag is `0.48.1`

[2016-12-15 12:22] rultor commented on #65
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10265-267315081)

[2016-12-15 12:31] rultor commented on #65
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10265-267315081) (took me 9min)

[2016-12-15 15:56] yegor256 commented on #65
@original-brownbear should be OK now, please close, thanks

[2017-01-10 15:14] #65 closed

[2017-01-10 15:14] yegor256 commented on #65
@original-brownbear I closed it myself

[2017-01-10 15:14] yegor256 commented on #48
@oruam85 updated already, thanks

[2017-01-10 15:14] #48 closed

[2017-01-10 16:20] yegor256 opened #66 "-Xdoclint:none for JavaDoc in Java8"
See http://stackoverflow.com/questions/15886209/maven-is-not-working-in-java-8-when-javadoc-tags-are-incomplete

[2017-01-10 16:21] #66 closed

[2017-01-10 16:23] yegor256 commented on #66
@rultor release, tag is `0.48.2`

[2017-01-10 16:24] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10576-271621853)

[2017-01-10 16:30] rultor commented on #66
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10576-271621853) (spent 6min)

[code]

[2017-01-10 16:31] yegor256 commented on #66
@rultor release, tag is `0.48.2`

[2017-01-10 16:32] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10576-271624386)

[2017-01-10 16:41] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10576-271624386) (took me 9min)

[2017-01-10 16:50] yegor256 opened #67 "additionalparam doesn't work with javadoc plugin"
After #66

[2017-01-10 16:50] #67 closed

[2017-01-10 16:51] yegor256 commented on #67
@rultor release, tag is `0.48.3`

[2017-01-10 16:52] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10577-271630062)

[2017-01-10 17:03] rultor commented on #67
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10577-271630062) (took me 11min)

[2017-05-12 09:52] yegor256 opened #69 "warning about maven-site-plugin"
Maven 3.5 complains:

[code]

[2017-05-12 10:45] dmarkov commented on #69
@yegor256 I added `bug` tag to this ticket

[2017-06-21 12:12] yegor256 opened #70 "-Xlint:-varargs"
Let's add this compiler option. See https://stackoverflow.com/questions/44675503/why-safevarargs-doesnt-suppress-the-warning

[2017-06-21 15:43] yegor256 commented on #70
@rultor release, tag is `0.48.5`

[2017-06-21 15:45] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12056-310120533)

[2017-06-21 16:01] rultor commented on #70
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12056-310120533) (took me 15min)

[2017-06-21 16:04] #70 closed

[2017-06-21 16:04] 0crat commented on #70
Oops! Job `gh:jcabi/jcabi-parent#70` was not in scope

[2017-06-30 20:55] ashkanpaya88 commented on #69
Is there any update on this issue?

[2017-08-25 06:32] yegor256 opened #73 "xcop"
Let's add it

[2017-08-25 06:32] 0crat commented on #73
Job `gh:jcabi/jcabi-parent#73` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-25 06:32] 0crat commented on #73
+15 points just awarded to @yegor256, total is [+2325](http://www.0crat.com/u/yegor256).

[2017-08-25 06:39] yegor256 commented on #73
@rultor release, tag is `0.49`

[2017-08-25 06:41] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12791-324836430)

[2017-08-25 06:49] rultor commented on #73
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12791-324836430) (spent 8min)

[code]

[2017-08-25 06:51] yegor256 commented on #73
@rultor release, tag is `0.49`

[2017-08-25 06:51] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12791-324838220)

[2017-08-25 07:10] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12791-324838220) (took me 18min)

[2017-08-25 08:17] #73 closed

[2017-08-25 08:18] 0crat commented on #73
Job `gh:jcabi/jcabi-parent#73` is now out of scope.

[2017-08-25 08:18] 0crat commented on #73
+30 points just awarded to @yegor256, total is [+2355](http://www.0crat.com/u/yegor256).

[2017-08-25 16:49] yegor256 opened #74 "skip xcop if it's not installed"
Let's skip it

[2017-08-25 16:57] yegor256 commented on #74
@rultor release, tag is `0.49.1`

[2017-08-25 16:57] rultor commented on #74
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12796-324977869)

[2017-08-25 17:17] rultor commented on #74
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12796-324977869) (took me 19min)

[2017-08-25 17:20] #74 closed

[2017-08-25 17:20] 0crat commented on #74
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-09-27 11:38] yegor256 opened #75 "xcop must run faster"
Let's optimize it

[2017-09-27 11:40] yegor256 commented on #75
@rultor release, tag is `0.49.2`

[2017-09-27 11:41] rultor commented on #75
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13020-332494148)

[2017-09-27 12:08] rultor commented on #75
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13020-332494148) (took me 27min)

[2017-09-27 12:30] #75 closed

[2017-09-27 12:31] 0crat commented on #75
Oops! Job `gh:jcabi/jcabi-parent#75` was not in scope

[2017-10-14 10:46] hboutemy commented on #69
fixed by dejan2609 commit: you can close this issue

[2018-01-03 01:29] fabriciofx opened #76 "Error when running xcop: The system cannot find the file specified"
I'm trying execute a `$ mvn clean install -Pqulice` and I receive this error when maven it's trying running `xcop`:
[code]
`xcop` is already installed, working correctly and in my $PATH. Maybe [this](http://javafries.blogspot.com.br/2016/10/execute-failed-javaioioexception-cannot.html) could help to found a solution.

[2018-01-03 01:29] 0crat commented on #76
@yegor256 please, pay attention to this issue

[2018-01-03 08:21] yegor256 commented on #76
@fabriciofx hm... I see the problem, but don't really know how to fix it. We can't know the absolute path of `xcop` in your system. Do you have any ideas?

[2018-01-03 13:33] fabriciofx commented on #76
@yegor256 I don't know either. Is it possible do something like a `which xop` and put it inside to maven?

[2018-01-04 07:11] yegor256 commented on #76
@fabriciofx I don't think so... try to Google, please. I'm not a Windows user(

[2018-03-27 05:39] neonailol opened #78 "Compatibility with Java 9 issue"
From the discussion at https://github.com/yegor256/takes/pull/833

This project contains an outdated version of `duplicate-finder-maven-plugin` that false report Java 9 `module-info` classes as duplicates, please upgrade it to the newest version. A new version of duplicate-finder-maven-plugin can be found on [github](https://github.com/basepom/duplicate-finder-maven-plugin), notice that the `group

[2018-03-27 05:40] 0crat commented on #78
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-27 05:40] 0crat commented on #78
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-27 15:22] llorllale opened #79 "xcop checking files in target dir of modules in multi-module projects"
The current configuration for `xcop` will only exclude the **top-most child directory named `target`**:

[code]

This causes problems in multi-module projects such as [s3auth](https://github.com/yegor256/s3auth) because it starts checking auto-generated XMLs placed in the `target` dir of submodules, such as those generated by the `surefire` plugin.

~For the moment being I'm overriding this config

[2018-03-27 15:22] 0crat commented on #79
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-27 15:22] 0crat commented on #79
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-27 15:28] llorllale commented on #79
@yegor256 actually, I also had to add another exclude: `<exclude name="**/local-repo/**/*"/>`.

This tells me that `xcop` should be configurable per-project, like eg. having a config file `.xcop` in the root directory of the project. WDYT?

[2018-04-13 12:53] yegor256 commented on #79
@llorllale yes, the `.xcop` idea sounds reasonable. Please, submit it to its repo.

[2018-04-13 12:53] yegor256 commented on #79
@llorllale I guess this one should be closed, right?

[2018-04-13 14:14] llorllale commented on #79
@yegor256 yes, closing

[2018-04-13 14:14] #79 closed

[2018-04-18 14:33] 0crat commented on #78
The job is not in WBS, won't close the order

[2018-05-05 06:49] krzyk opened #81 "jcabi-doclint-java8-disable profile is harmful"
jcabi-doclint-java8-disable enables ignoring of all javadoc related issues in the code (e.g. when someone forgets to add a `@param` for some method parameter, or when `<` is used without proper escaping).

It should be removed and projects depending on jcabi-parent should fix their javadoc issues.
Without removal of this profile projects depending on jcabi-parent might generate (or not generate at

[2018-05-05 06:49] 0crat commented on #81
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-05 06:49] 0crat commented on #81
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-19 14:50] yegor256 commented on #81
@krzyk the problem is that it conflicts with Qulice tags. Try to enable it and run the build, you will see the problems. If you have a solution, please contribute.

[2018-10-15 13:23] fabriciofx opened #83 "Tutorial how to use it and publish an artifact"
Let's create a tutorial how to use `jcabi-parent` and use it to publish an artifact to Central Repository *without* using Rultor.

[2018-11-11 05:12] fabriciofx opened #84 "Upgrade antlr4-maven-plugin to 4.7.1"
When run ANTLRv4 to generate sources, if we are using the latest version (4.7) it will show to us a warning message: `ANTLR Tool version 4.5.3 used for code generation does not match the current runtime version 4.7ANTLR Tool version 4.5.3 used for code generation does not match the current runtime version 4.7`.
To fix it, we need upgrade ` antlr4-maven-plugin` plugin to version `4.7.1`.

[2018-11-11 05:12] 0crat commented on #84
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-11 05:13] 0crat commented on #84
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-25 15:59] yegor256 commented on #83
@fabriciofx can you submit a pull request?

[2018-12-25 20:14] fabriciofx commented on #83
@yegor256 Yeah, no problem!

[2019-01-13 05:00] fabriciofx opened #86 "Rename this project to cactoos-parent (or something like that)"
@yegor256 My idea is bring `jcabi-parent` to `cactoos` umbrella project. So, let's rename this project to `cactoos-parent` or something like that. WDYT?

[2019-01-13 05:00] 0crat commented on #86
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-13 05:00] 0crat commented on #86
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-16 03:22] fabriciofx commented on #76
@yegor256 ping

[2019-01-28 16:21] yegor256 commented on #76
@rultor release, tag is `0.49.4`

[2019-01-28 16:23] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17575-458198082)

[2019-01-28 16:42] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17575-458198082) (took me 18min)

[2019-01-28 16:51] fabriciofx commented on #76
Closed by #85

[2019-01-28 16:51] #76 closed

[2019-01-28 17:08] 0crat commented on #76
Job `gh:jcabi/jcabi-parent#76` is not assigned, can't get performer

[2019-01-28 17:08] 0crat commented on #76
This job is not in scope

[2019-01-28 17:17] yegor256 commented on #86
@fabriciofx what for? This project is used in many other places, not only in Cactoos.

[2019-01-28 17:17] #86 closed

[2019-01-28 17:34] 0crat commented on #86
Job `gh:jcabi/jcabi-parent#86` is not assigned, can't get performer

[2019-02-07 21:25] fabriciofx commented on #79
@yegor256 @llorllale Is there anything wrong with 0crat? I've opened this issue and submitted a PR and haven't received any points...

[2019-02-07 21:26] fabriciofx commented on #76
@yegor256 Is there anything wrong with 0crat? I've opened this issue and submitted a PR and haven't received any points...

[2019-05-05 07:16] yegor256 commented on #76
@g4s8 what do you think?

[2019-05-05 08:15] g4s8 commented on #76
@0crat status

[2019-05-05 08:16] 0crat commented on #76
@g4s8 This is what I know about this job in [C3RUBL5H9](https://www.0crat.com/p/C3RUBL5H9), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#76](https://github.com/jcabi/jcabi-parent/issues/76) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3RUBL5H9?q=%7Bjob%3A%27gh%3Ajcabi%2Fjcabi-parent%2376%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area

[2019-05-05 08:41] g4s8 commented on #76
@fabriciofx @yegor256 this job was not added to scope, this is why no points for bug-report. See https://www.zerocracy.com/policy.html#29 https://www.zerocracy.com/policy.html#14

[2019-05-07 11:19] zCRUSADERz opened #87 "Requires the ability to add directories or files to the antrun-plugin excludes."
Required optional patternset to the maven-antrun-plugin configuration, in xdoc profile.

I need this functionality to solve a problem with building a Qulice project. Now the plugin processes all `*.xml`, `*.xsd` and `*.xsl` files, excluding the `target` and `.idea` directories. In the Qulice project, directories `target` and `.idea` at the root of the project will be excluded, but the same directo

[2019-05-07 11:19] 0crat commented on #87
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-07 11:19] 0crat commented on #87
@zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-08 03:26] zCRUSADERz opened #88 "Profile xdoc dont work properly on windows."
#### jcabi-parent 0.49.4
-------
Profile xdoc starts a xcop without a `--license` argument on Windows.

To reproduce you need:
- Windows
- Installed xcop

Steps to reproduce:
- Clone this repository
- Delete comment with license from pom.xml
- run `mvn -Pqulice clean install`
- run `xcop --license LICENSE.txt pom.xml`
- compare the results

[2019-05-08 03:26] 0crat commented on #88
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-08 03:26] 0crat commented on #88
@zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-21 16:08] yegor256 commented on #87
@rultor release, tag is `0.49.5`

[2019-05-21 16:11] rultor commented on #87
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18967-494456172)

[2019-05-21 16:20] zCRUSADERz commented on #87
@yegor256 i described the problem in more detail.

[2019-05-21 16:34] zCRUSADERz commented on #87
@yegor256 can i get points for this issue?

[2019-05-21 16:37] zCRUSADERz commented on #88
It fixed in #90.

[2019-05-21 16:39] zCRUSADERz commented on #88
@yegor256 can i get points for this issue?

[2019-05-21 16:39] rultor commented on #87
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18967-494456172) (took me 27min)

[2019-05-21 16:40] yegor256 commented on #87
@zCRUSADERz thanks!

[2019-05-21 16:40] #87 closed

[2019-05-21 16:56] 0crat commented on #87
Job `gh:jcabi/jcabi-parent#87` is not assigned, can't get performer

[2019-05-21 16:57] 0crat commented on #87
This job is not in scope

[2019-05-28 14:41] #88 closed

[2019-05-28 17:10] 0crat commented on #88
Job `gh:jcabi/jcabi-parent#88` is not assigned, can't get performer

[2019-05-28 17:16] 0crat commented on #88
This job is not in scope

[2019-05-30 17:50] yegor256 commented on #87
@zCRUSADERz this job was not in scope, that's why no points, sorry

[2019-10-24 05:47] yegor256 opened #91 "xcop exclude target everywhere"
Let's exclude it in child modules too

[2019-10-24 05:50] yegor256 commented on #84
@fabriciofx done in 3e89cca8

[2019-10-24 05:50] #84 closed

[2019-10-24 05:52] yegor256 commented on #91
@rultor release, tag is `0.49.6`

[2019-10-24 05:54] rultor commented on #91
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20686-545756747)

[2019-10-24 06:04] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20686-545756747) (spent 9min)

[code]

[2019-10-24 06:14] yegor256 commented on #91
@rultor release, tag is `0.49.6`

[2019-10-24 06:15] rultor commented on #91
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20686-545762090)

[2019-10-24 06:27] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20686-545762090) (spent 11min)

[code]

[2019-10-24 06:34] rultor commented on #91
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20686-545767254)

[2019-10-24 06:44] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20686-545767254) (spent 9min)

[code]

[2019-10-24 06:45] yegor256 commented on #91
@rultor release, tag is `0.49.7`

[2019-10-24 06:48] rultor commented on #91
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20686-545770895)

[2019-10-24 07:12] yegor256 commented on #91
@rultor release, tag is `0.49.8`

[2019-10-24 07:26] rultor commented on #91
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20686-545779614) (took me 9min)

[2019-10-24 07:43] #91 closed

[2019-10-24 11:44] 0crat commented on #91
Job `gh:jcabi/jcabi-parent#91` is not assigned, can't get performer

[2019-10-24 11:46] 0crat commented on #84
Job `gh:jcabi/jcabi-parent#84` is not assigned, can't get performer

[2019-10-24 12:10] 0crat commented on #91
This job is not in scope

[2019-10-24 12:11] 0crat commented on #84
This job is not in scope

[2020-02-18 10:10] HDouss opened #94 "Update/Migrate to JUnit 5"
A child pom that want to use JUnit 5 will still have the dependency for JUnit 4 in their dependency tree and have no way to exclude it. This is because JUnit 5 have a new maven group and a new maven artifact id. If my project is a child project of jcabi-parent and I want to prevent developers from using JUnit 4 annotations because they are "less" object oriented, I have no way to do it. jcabi-pare

[2020-02-18 10:10] 0crat commented on #94
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-18 10:10] 0crat commented on #94
@hdouss[/z](https://www.0crat.com/u/hdouss) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-05-19 15:49] yegor256 opened #95 "gpg plugin configs"

[2020-05-19 16:07] yegor256 commented on #95
@rultor release, tag is `0.50.0`

[2020-05-19 16:08] rultor commented on #95
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22103-630920739)

[2020-05-19 16:15] rultor commented on #95
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22103-630920739) (took me 7min)

[2020-05-19 16:18] #95 closed

[2020-05-19 16:37] 0crat commented on #95
Job `gh:jcabi/jcabi-parent#95` is not assigned, can't get performer

[2020-07-05 11:06] victornoel commented on #94
@HDouss this seems to be already the case in latest version

[2020-07-05 11:16] victornoel commented on #94
@yegor256 that being said, it would be good to do those two things:
- use the BOM instead of manually specifying each dependency management one by one, see https://stackoverflow.com/a/58600045/9046139
- bump to latest version because the one set in jcabi-parent has some bugs that for example breaks the tests in cactoos when using junit-vintage-engine

[2020-07-05 11:31] victornoel commented on #94
@yegor256 also there seems to be a bad interaction with qulice:
[code]

[2020-07-05 15:53] victornoel commented on #94
@yegor256 @HDouss I've proposed something in #97 to finish that work.

[2020-07-06 07:32] HDouss commented on #94
@victornoel Indeed. Thanks

[2020-07-06 10:11] g4s8 opened #98 "Nexus staging maven plugin fails on timeout quite often"
Deploy often fails because of timeout in Nexus staging maven plugin, the standard timeout is 5 minutes, Sonatype sometimes can't process new artifact in 5 minutes.

[2020-07-06 10:11] 0crat commented on #98
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-07-10 02:05] andreoss opened #100 "maven-site-plugin has broken dependencies"
The plugin has incomplete (or broken) dependencies, and fails with (https://www.rultor.com/t/22557-656418158):
[code]
Blocks: https://github.com/jcabi/jcabi-github/issues/1539 https://github.com/jcabi/jcabi-http/issues/203

[2020-07-13 13:55] yegor256 opened #101 "lombok is too old"
Let's use 1.18.8

[2020-07-13 13:56] yegor256 commented on #101
@rultor release, tag is `0.50.4`

[2020-07-13 13:56] rultor commented on #101
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22583-657576336)

[2020-07-13 14:06] rultor commented on #101
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22583-657576336) (took me 9min)

[2020-07-13 14:08] #101 closed

[2020-07-13 14:22] yegor256 commented on #94
@HDouss this is solved already, use version 0.50.4

[2020-07-13 14:22] #94 closed

[2020-07-13 14:22] yegor256 commented on #98
@g4s8 it's fixed, thanks!

[2020-07-13 14:22] #98 closed

[2020-07-13 14:23] yegor256 commented on #100
@andreoss can you provide a PR to fix this, please?

[2020-07-13 14:26] 0crat commented on #101
Job `gh:jcabi/jcabi-parent#101` is not assigned, can't get performer

[2020-07-13 14:58] 0crat commented on #94
Job `gh:jcabi/jcabi-parent#94` is not assigned, can't get performer

[2020-07-13 15:01] 0crat commented on #98
Job `gh:jcabi/jcabi-parent#98` is not assigned, can't get performer

[2020-07-14 05:54] yegor256 opened #102 "javadoc needs "source" option"
Let's add it

[2020-07-14 11:07] yegor256 commented on #102
@rultor release, tag is `0.50.5`

[2020-07-14 11:09] rultor commented on #102
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22590-658119107)

[2020-07-14 11:19] rultor commented on #102
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22590-658119107) (took me 9min)

[2020-07-14 11:22] #102 closed

[2020-07-14 11:48] 0crat commented on #102
Job `gh:jcabi/jcabi-parent#102` is not assigned, can't get performer

[2020-07-15 14:45] andreoss commented on #100
@yegor256 Fixed in #96

[2020-07-15 14:45] #100 closed

[2020-07-15 15:02] 0crat commented on #100
Job `gh:jcabi/jcabi-parent#100` is not assigned, can't get performer

[2020-08-05 07:53] yegor256 opened #103 "mockito up"
Let's upgrated to 3.4.5

[2020-08-05 07:54] yegor256 commented on #103
@rultor release, tag is `0.50.6`

[2020-08-05 07:56] rultor commented on #103
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22814-669042379)

[2020-08-05 08:05] rultor commented on #103
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22814-669042379) (took me 9min)

[2020-08-05 08:11] #103 closed

[2020-08-05 08:28] 0crat commented on #103
Job `gh:jcabi/jcabi-parent#103` is not assigned, can't get performer

[2020-08-05 08:33] yegor256 commented on #103
@rultor release, tag is `0.50.7`

[2020-08-05 08:34] rultor commented on #103
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22814-669060683)

[2020-08-05 08:44] rultor commented on #103
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22814-669060683) (took me 10min)

[2020-10-29 18:15] yegor256 opened #104 "antlr4 versions don't match"

[2020-10-29 18:15] yegor256 commented on #104
@rultor release, tag is `0.50.8`

[2020-10-29 18:16] rultor commented on #104
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23613-718933163)

[2020-10-29 18:26] rultor commented on #104
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23613-718933163) (took me 9min)

[2020-10-29 18:36] #104 closed

[2020-10-29 18:57] 0crat commented on #104
Job `gh:jcabi/jcabi-parent#104` is not assigned, can't get performer

[2020-11-13 12:55] yegor256 opened #105 "jcabi-matchers 1.5"
Let's use them

[2020-11-13 12:56] yegor256 commented on #105
@rultor release, tag is `0.50.9`

[2020-11-13 12:58] rultor commented on #105
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23679-726749444)

[2020-11-13 13:06] rultor commented on #105
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23679-726749444) (took me 8min)

[2020-11-13 13:07] #105 closed

[2020-11-13 13:24] 0crat commented on #105
Job `gh:jcabi/jcabi-parent#105` is not assigned, can't get performer

[2020-11-15 18:03] yegor256 opened #106 "update all deps"
Let's update all possible deps

[2020-11-15 19:44] yegor256 commented on #106
@rultor release, tag is `0.51.0`

[2020-11-15 19:45] rultor commented on #106
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23695-727625391)

[2020-11-15 19:57] rultor commented on #106
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23695-727625391) (took me 11min)

[2020-11-15 19:57] #106 closed

[2020-11-23 20:54] fabriciofx opened #107 "Let's remove maven color from rultor logs"
Maven is "dirtying" the rultor logs with ANSI color codes. So, let's remove the color to get logs more readable.

[2020-11-27 07:25] yegor256 opened #109 "jcabi-log 0.19.0"
Let's use this one

[2020-11-27 07:26] yegor256 commented on #109
@rultor release, tag is `0.51.1`

[2020-11-27 07:27] rultor commented on #109
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23760-734688307)

[2020-11-27 07:36] rultor commented on #109
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23760-734688307) (took me 8min)

[2020-11-27 12:02] #109 closed

[2020-12-13 04:50] andreoss opened #115 "Options for running integration tests & unit tests seperatly"
For CI purposes, it's preferable to run ITs as a separate task.
For example:

[code]
Only ability to skip UTs is needed at this point, but having both is good for consistency

[2021-02-15 14:13] victornoel opened #116 "antrun xcop should ignore target/"
I am trying to use the maven-shade-plugin in cactoos-matches and because this plugin generates a new pom.xml file that it stores in the target dorectory, the xcop execution by antrun fails since it is not formatted as expected.

I believe we should not run any check at all on the content of the target directory and have antrun focus on the actual sources of the project.

[2021-02-15 14:18] victornoel commented on #116
ha, my bad, actually, the problem is that maven-shade-plugin generates the file in the source directory itself :)

[2021-02-15 14:18] #116 closed

[2021-02-15 14:31] victornoel opened #117 "antrun should always execute in basedir"
I am experiencing a strange interaction between the maven-shade-plugin and the maven-antrun-plugin: when using both at the same time, then antirun seems to be executed from the target directory instead of the basedir directory.

The logs (with `-X`) say: `fileset: Setup scanner in dir /home/victor/code/cactoos-matchers/target with patternSet{ includes: [**/*.xml, **/*.xsl, **/*.xsd] excludes: [**/

[2021-02-15 14:45] 0crat commented on #116
Job `gh:jcabi/jcabi-parent#116` is not assigned, can't get performer

[2021-03-03 09:19] piotrkot commented on #83
@fabriciofx @yegor256 This issue is old but it seems still valid.
How can I release a new version to sonatype with parent pom?

What I tried was:
`mvn clean deploy`
which successfully built and uploaded 'something' to sonatype. However, after checking the `https://oss.sonatype.org/service/local/repositories/releases/content/{my-repository-path}` nothing was there.

Normally, I make a dedicated rel

[2021-03-03 10:29] yegor256 commented on #83
@piotrkot see how it works in our `pom.xml` and `rultor.yml`

[2021-07-01 13:35] yegor256 commented on #115
@andreoss I believe you can do it with `-DskipTests` and `-Dfailsafe.skip` (or something similar)

[2021-07-01 13:35] #115 closed

[2021-07-01 13:36] yegor256 commented on #107
@fabriciofx thanks!

[2021-07-01 13:36] #107 closed

[2021-07-01 13:36] yegor256 commented on #107
@rultor release, tag is `0.51.3`

[2021-07-01 13:39] rultor commented on #107
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24702-872254150)

[2021-07-01 13:47] rultor commented on #107
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24702-872254150) (took me 7min)

[2021-07-01 17:40] andreoss commented on #115
@yegor256 The problem is that `-DskipTests` skips both, and `-DskipITs` skips only ITs.
https://stackoverflow.com/questions/46712510/how-to-skip-surefire-tests-but-run-failsafe-tests

[2021-08-07 04:56] yegor256 opened #120 "deps up"
versions up

[2021-08-07 05:01] yegor256 commented on #120
@rultor release, tag is `0.52.0`

[2021-08-07 05:02] rultor commented on #120
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24882-894605376)

[2021-08-07 05:09] rultor commented on #120
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24882-894605376) (took me 7min)

[2021-08-07 05:09] #120 closed

[2021-08-19 11:42] yegor256 opened #121 "slf4j 1.7.32"
Let's put it back, since 2.0 is very new

[2021-08-19 11:42] yegor256 commented on #121
@rultor release, tag is `0.52.1`

[2021-08-19 11:52] rultor commented on #121
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24931-901845085) (took me 8min)

[2021-08-19 11:53] #121 closed

[2021-09-04 04:13] yegor256 opened #122 "slf4j-log4j upgrade to 1.8"
Let's upgrade to 1.8

[2021-09-04 04:18] yegor256 commented on #122
@rultor release, tag is `0.53.0`

[2021-09-04 04:20] rultor commented on #122
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25015-912904222)

[2021-09-04 04:30] rultor commented on #122
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25015-912904222) (spent 10min)

[code]

[2021-09-04 06:28] yegor256 commented on #122
@rultor release, tag is `0.53.1`

[2021-09-04 06:29] rultor commented on #122
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25015-912918967)

[2021-09-04 06:36] rultor commented on #122
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25015-912918967) (spent 7min)

[code]

[2021-09-04 06:49] yegor256 commented on #122
@rultor release, tag is `0.53.2`

[2021-09-04 06:50] rultor commented on #122
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25015-912921455)

[2021-09-04 06:58] rultor commented on #122
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25015-912921455) (spent 8min)

[code]

[2021-09-04 07:16] yegor256 commented on #122
@rultor release, tag is `0.53.3`

[2021-09-04 07:16] rultor commented on #122
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25015-912925192)

[2021-09-04 07:27] rultor commented on #122
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25015-912925192) (took me 10min)

[2021-09-04 07:28] #122 closed

[2021-09-04 10:38] yegor256 commented on #45
@krzyk already done

[2021-09-04 10:38] #45 closed

[2021-09-04 10:39] yegor256 commented on #69
fixed

[2021-09-04 10:39] #69 closed

[2021-09-04 10:41] yegor256 opened #123 "skin 1.7.0"
Let's upgrade it

[2021-09-04 10:42] yegor256 commented on #123
@rultor release, tag is `0.53.4`

[2021-09-04 10:44] rultor commented on #123
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25022-912951761)

[2021-09-04 10:56] rultor commented on #123
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25022-912951761) (took me 12min)

[2021-09-04 10:58] #123 closed

[2021-09-04 12:23] 0crat commented on #123
Job `gh:jcabi/jcabi-parent#123` is not assigned, can't get performer

[2021-09-04 12:27] 0crat commented on #69
Job `gh:jcabi/jcabi-parent#69` is not assigned, can't get performer

[2021-09-09 18:08] andreoss opened #124 "jcabi-log dependencies confilict for slf4j"
011f5aa uses older version of `slf4-log4j` , incompatible with `slf4j-api` version `jcabi-log` currently has

https://github.com/jcabi/jcabi-log/blob/master/pom.xml#L81

Proposal:
1) `jcabi-parent` should handle `slf4j-api` version
2) `jcabi-parent` should not bring any implementations of `slf4j`

[2021-09-17 05:16] yegor256 opened #125 "broken javadoc links"
Let's fix

[2021-09-17 05:20] yegor256 commented on #125
@rultor release, tag is `0.54.0`

[2021-09-17 05:21] rultor commented on #125
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25066-921507975)

[2021-09-17 05:25] rultor commented on #125
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25066-921507975) (spent 4min)

[code]

[2021-09-17 05:27] yegor256 commented on #125
@rultor release, tag is `0.54.0`

[2021-09-17 05:28] rultor commented on #125
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25066-921510246)

[2021-09-17 05:40] rultor commented on #125
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25066-921510246) (took me 12min)

[2021-09-17 05:50] #125 closed

[2021-09-23 04:33] yegor256 opened #126 "same version for ANTLR4"
Should be 4.9.2

[2021-09-23 04:36] yegor256 commented on #126
@rultor release, tag is `0.54.1`

[2021-09-23 04:37] rultor commented on #126
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25089-925502096)

[2021-09-23 04:51] rultor commented on #126
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25089-925502096) (took me 14min)

[2021-09-23 04:52] #126 closed

[2021-10-01 18:51] yegor256 commented on #124
@rultor release, tag is `0.55.0`

[2021-10-01 18:55] rultor commented on #124
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25119-932473830)

[2021-10-01 19:06] rultor commented on #124
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25119-932473830) (took me 10min)

[2021-10-01 19:06] yegor256 commented on #124
@andreoss this one should be good

[2021-10-01 19:06] #124 closed

[2021-10-01 19:13] yegor256 opened #127 "qulice 0.19.0"

[2021-10-01 19:14] yegor256 commented on #127
@rultor release, tag is `0.56.0`

[2021-10-01 19:15] rultor commented on #127
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25121-932487879)

[2021-10-01 19:26] rultor commented on #127
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25121-932487879) (took me 10min)

[2021-10-01 19:28] #127 closed

[2021-12-12 05:44] andreoss opened #128 "src/it tests run by invoker cannot be skipped"
https://github.com/jcabi/jcabi-parent/blob/master/pom.xml#L832
Proposal:
this step should be skipped in presence of `mave.skipTests` or `maven.skipITs`

[2021-12-24 04:55] yegor256 opened #130 "jacoco profile"
Let's add it and make it possible to use like `-Pjacoco`

[2021-12-24 05:05] yegor256 commented on #130
@rultor release, tag is `0.57.0`

[2021-12-24 05:06] rultor commented on #130
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25352-1000656494)

[2021-12-24 05:07] yegor256 commented on #130
@rultor stop

[2021-12-24 05:08] rultor commented on #130
@yegor256 OK, I'll try to stop current task.

[2021-12-24 05:11] rultor commented on #130
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25352-1000657278) (spent 5min)

[code]

[2021-12-24 05:15] yegor256 commented on #130
@rultor release, tag is `0.57.0`

[2021-12-24 05:15] rultor commented on #130
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25352-1000659422)

[2021-12-24 05:29] rultor commented on #130
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25352-1000659422) (took me 13min)

[2021-12-24 05:30] #130 closed

[2021-12-24 05:30] yegor256 commented on #128
@andreoss released 0.57.0

[2021-12-26 22:47] andreoss opened #131 "Enable treatWarningsAsErrors by default for antlr plugin"
Let's treat antl4 warnings as errors by default (or under qulice profile)

cqfn/eo#542

[2021-12-27 01:13] andreoss opened #132 "Avoid using -Werror"
This line is impossible to redefine by child pom without copying all compiler arguments
https://github.com/jcabi/jcabi-parent/blob/master/pom.xml#L1695

Instead of using `-Werror`, this option should be used
https://maven.apache.org/plugins/maven-compiler-plugin/compile-mojo.html#failOnWarning

[2022-01-10 15:29] andreoss commented on #131
Done https://github.com/cqfn/eo/issues/541

[2022-01-10 15:29] #131 closed

[2022-03-26 06:17] yegor256 opened #134 "always compile package-info.java"
see https://stackoverflow.com/questions/6770455/maven-compiling-package-info-java-to-package-info-class

[2022-03-26 06:22] yegor256 commented on #134
@rultor release, tag is `0.57.1`

[2022-03-26 06:23] rultor commented on #134
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25626-1079618823)

[2022-03-26 06:38] rultor commented on #134
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25626-1079618823) (took me 14min)

[2022-03-26 06:39] #134 closed

[2022-03-26 06:40] #128 closed

[2022-03-26 06:40] yegor256 commented on #132
@rultor release, tag is `0.57.2`

[2022-03-26 06:41] rultor commented on #132
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25627-1079621877)

[2022-03-26 06:57] rultor commented on #132
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25627-1079621877) (took me 15min)

[2022-03-26 08:39] yegor256 commented on #132
@andreoss thanks!

[2022-03-26 08:39] #132 closed

[2022-07-04 05:12] yegor256 opened #135 "versions up"

[2022-07-04 05:18] yegor256 commented on #135
@rultor release, tag is `0.58.0`

[2022-07-04 05:19] rultor commented on #135
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26140-1173359855)

[2022-07-04 05:22] rultor commented on #135
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26140-1173359855) (spent 3min)

[code]

[2022-07-04 05:42] yegor256 commented on #135
@rultor release, tag is `0.58.0`

[2022-07-04 05:42] rultor commented on #135
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26140-1173373681)

[2022-07-04 05:49] rultor commented on #135
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26140-1173373681) (spent 7min)

[code]

[2022-07-04 07:32] yegor256 commented on #135
@rultor release, tag is `0.58.0`

[2022-07-04 07:44] rultor commented on #135
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26140-1173456460) (took me 10min)

[2022-07-04 07:52] #135 closed

[2022-07-13 05:20] yegor256 opened #136 "versions up"

[2022-07-13 05:25] yegor256 commented on #136
@rultor release, tag is `0.59.0`

[2022-07-13 05:26] rultor commented on #136
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26215-1182780376)

[2022-07-13 05:38] rultor commented on #136
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26215-1182780376) (took me 11min)

[2022-07-13 06:49] #136 closed

[2022-08-03 16:06] yegor256 opened #138 "qulice up"

[2022-08-03 16:09] yegor256 commented on #138
@rultor release, tag is `0.60.0`

[2022-08-03 16:10] rultor commented on #138
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26424-1204163773)

[2022-08-03 16:12] rultor commented on #138
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26424-1204163773) (spent 1min)

[code]

[2022-08-03 16:13] yegor256 commented on #138
@rultor release, tag is `0.60.0`

[2022-08-03 16:14] rultor commented on #138
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26424-1204170992)

[2022-08-03 16:15] rultor commented on #138
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26424-1204170992) (spent 25s)

[code]

[2022-08-03 17:36] yegor256 commented on #138
@rultor release, tag is `0.60.0`

[2022-08-03 17:38] rultor commented on #138
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26424-1204272342)

[2022-08-03 17:43] rultor commented on #138
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26424-1204272342) (spent 6min)

[code]

[2022-08-04 02:58] #138 closed

[2022-08-04 03:15] 0crat commented on #138
Job `gh:jcabi/jcabi-parent#138` is not assigned, can't get performer

[2022-08-08 13:31] yegor256 opened #139 "junit-bom version is not set right"

[2022-08-08 13:32] yegor256 commented on #139
@rultor release, tag is `0.60.1`

[2022-08-08 13:34] rultor commented on #139
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26446-1208137232)

[2022-08-08 13:45] rultor commented on #139
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26446-1208137232) (took me 11min)

[2022-08-08 13:46] #139 closed

[2022-08-08 14:04] 0crat commented on #139
Job `gh:jcabi/jcabi-parent#139` is not assigned, can't get performer

[2022-08-09 03:21] yegor256 opened #140 "junit-bom scope mistake"

[2022-08-09 04:25] yegor256 commented on #140
@rultor release, tag is `0.60.2`

[2022-08-09 04:26] rultor commented on #140
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26452-1208896425)

[2022-08-09 04:34] rultor commented on #140
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26452-1208896425) (spent 8min)

[code]

[2022-08-09 05:09] yegor256 commented on #140
@rultor release, tag is `0.60.2`

[2022-08-09 05:10] rultor commented on #140
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26452-1208921538)

[2022-08-09 05:15] rultor commented on #140
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26452-1208921538) (spent 5min)

[code]

[2022-08-09 05:31] #140 closed

[2022-08-09 05:38] yegor256 commented on #140
@rultor release, tag is `0.60.3`

[2022-08-09 05:40] rultor commented on #140
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26452-1208937466)

[2022-08-09 05:47] rultor commented on #140
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26452-1208937466) (spent 7min)

[code]

[2022-08-09 05:48] 0crat commented on #140
Job `gh:jcabi/jcabi-parent#140` is not assigned, can't get performer

[2022-08-09 06:05] yegor256 commented on #140
@rultor release, tag is `0.60.4`

[2022-08-09 06:06] rultor commented on #140
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26452-1208952531)

[2022-08-09 06:17] rultor commented on #140
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26452-1208952531) (took me 11min)

[2022-08-10 03:01] yegor256 opened #141 "maven-site-plugin 4.0 is not working"

[2022-08-10 03:02] yegor256 commented on #141
@rultor release, tag is `0.60.5`

[2022-08-10 03:04] rultor commented on #141
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26465-1210094898)

[2022-08-10 03:15] rultor commented on #141
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26465-1210094898) (took me 11min)

[2022-08-10 03:15] #141 closed

[2022-08-29 04:05] yegor256 opened #142 "refresh, mostly to replace slf4j-reload4j"

[2022-08-29 04:07] yegor256 commented on #142
@rultor release, tag is `0.61.0`

[2022-08-29 04:08] rultor commented on #142
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26615-1229738128)

[2022-08-29 04:20] rultor commented on #142
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26615-1229738128) (took me 11min)

[2022-08-29 05:37] #142 closed

[2022-08-29 05:54] 0crat commented on #142
Job `gh:jcabi/jcabi-parent#142` is not assigned, can't get performer

[2022-09-22 04:17] renovate[bot] opened #146 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency org.antlr:antlr3-maven-plugin to v3.5.3
 - [ ] Update dependency org.apache.maven.plugins:ma

[2022-09-22 04:49] yegor256 opened #147 "put all junit deps into jcabi-junit profile"

[2022-09-22 05:42] yegor256 commented on #147
@rultor release, tag is `0.62.0`

[2022-09-22 05:43] rultor commented on #147
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26976-1254554024)

[2022-09-22 05:59] rultor commented on #147
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26976-1254554024) (took me 15min)

[2022-09-22 08:09] #147 closed

[2022-09-22 08:26] 0crat commented on #147
Job `gh:jcabi/jcabi-parent#147` is not assigned, can't get performer

[2022-10-04 12:00] yegor256 opened #189 "refresh"

[2022-10-04 14:06] yegor256 commented on #189
@rultor release, tag is `0.63.0`

[2022-10-04 14:08] rultor commented on #189
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27332-1267063322)

[2022-10-04 14:14] rultor commented on #189
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/27332-1267063322) (spent 6min)

[code]

[2022-10-04 14:15] yegor256 commented on #189
@rultor release, tag is `0.63.0`

[2022-10-04 14:16] rultor commented on #189
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27332-1267076555)

[2022-10-04 14:19] yegor256 commented on #189
@rultor release, tag is `0.63.0`

[2022-10-04 14:21] rultor commented on #189
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27332-1267081712)

[2022-10-04 14:26] rultor commented on #189
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/27332-1267081712) (spent 5min)

[code]

[2022-10-04 14:27] #189 closed

[2022-10-06 04:31] yegor256 opened #190 "'cim' is not supported anymore"

[2022-10-06 04:31] yegor256 commented on #190
@rultor release, tag is `0.63.1`

[2022-10-06 04:32] rultor commented on #190
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27376-1269296683)

[2022-10-06 04:38] rultor commented on #190
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/27376-1269296683) (spent 6min)

[code]

[2022-10-06 04:41] yegor256 commented on #190
@rultor release, tag is `0.63.2`

[2022-10-06 04:43] rultor commented on #190
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27376-1269303279)

[2022-10-06 04:54] rultor commented on #190
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/27376-1269303279) (took me 11min)

[2022-10-06 04:56] #190 closed

[2022-10-06 05:13] 0crat commented on #190
Job `gh:jcabi/jcabi-parent#190` is not assigned, can't get performer

[2022-10-07 03:01] fabriciofx opened #191 "Deploy to sonatype not working in Java > 1.8"
I'm trying to deploy some artifacts to sonatype but I can't (I think because my JDK version is 11). See the log (with error message):
[code]

[2022-11-03 09:56] yegor256 commented on #191
@fabriciofx just run it again. it happens to me too sometimes

[2022-11-03 09:56] yegor256 opened #197 "refresh"

[2022-11-03 09:57] yegor256 commented on #197
@rultor release tag is `0.64.0`

[2022-11-03 09:58] rultor commented on #197
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27815-1301865317)

[2022-11-03 09:59] 0crat commented on #197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: jcabi/jcabi-parent#197, Action: `opened`

[2022-11-03 10:56] 0crat commented on #197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: jcabi/jcabi-parent#197, Action: `closed`

[2022-11-03 15:14] yegor256 opened #199 "detectJavaApiLink: false"

[2022-11-03 15:14] yegor256 commented on #199
@rultor release, tag is `0.64.1`

[2022-11-03 15:15] yegor256 commented on #199
@rultor release, tag is `0.64.1`

[2022-11-03 15:16] rultor commented on #199
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27823-1302264905)

[2022-11-03 15:27] rultor commented on #199
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/27823-1302264905) (took me 10min)

[2022-11-03 16:26] #199 closed

[2022-11-27 06:47] fabriciofx commented on #191
I think have found a workaround fot this problem: just add these parameters to JVM using a environment variable: `JDK_JAVA_OPTIONS="--add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.io=ALL-UNNAMED --add-opens java.base/java.util=ALL-UNNAMED --add-opens java.base/java.util.concurrent=ALL-UNNAMED"`

[2022-11-27 07:23] yegor256 commented on #191
@fabriciofx maybe you can add this information to this document: https://github.com/jcabi/jcabi-parent/blob/master/src/site/apt/profile-sonatype.apt.vm